[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Implements a basic authentication flow for signing up/signing in users as well as protected client side routing using AWS Amplify. "
[access "refs/*"]
	owner = group user/eyeballceo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/eyeballceo
	label-Verified = -1..+1 group user/eyeballceo
	push = group user/eyeballceo
	read = group user/eyeballceo
	rebase = group user/eyeballceo
	removeReviewer = group user/eyeballceo
	submit = group user/eyeballceo
[access "refs/heads/*"]
	create = group user/eyeballceo
	push = +force group user/eyeballceo
	pushMerge = group user/eyeballceo
	read = group user/eyeballceo
[access "refs/tags/*"]
	push = group user/eyeballceo
	push = +force group user/eyeballceo
